<div class="content">
  <h1>Instellingen</h1>
  <p>
    <input type="checkbox" class="js-switch" checked /> Lamp
  </p>
  <hr>
  <p>
    Geef plant 1 manueel <input type="number" class="textbox" value="10" size="4" step="10" min="10" max="5000"> ml water. 
    <button class="button">Uitvoeren</button><br>
    Geef plant 2 manueel <input type="number" class="textbox" value="10" size="4" step="10" min="10" max="5000"> ml water. 
    <button class="button">Uitvoeren</button><br>
    Geef plant 3 manueel <input type="number" class="textbox" value="10" size="4" step="10" min="10" max="5000"> ml water. 
    <button class="button">Uitvoeren</button><br>
  </p>
  <hr>
  <p>

  </p>
</div>