<div class="content">
  <h1>Instellingen</h1>

  <ui-switch size="small" color="#f92"></ui-switch> <span class="switch-element">Lamp 1</span><br>
  <ui-switch size="small" color="#f92"></ui-switch> <span class="switch-element">Lamp 2</span><br>
  <ui-switch size="small" color="#f92"></ui-switch> <span class="switch-element">Lamp 3</span><br>

  <hr>
  <p>
    Geef plant 1 manueel <input type="number" class="textbox" value="10" size="4" step="10" min="10" max="5000"> ml water. 
    <button class="button">Uitvoeren</button><br>
    Geef plant 2 manueel <input type="number" class="textbox" value="10" size="4" step="10" min="10" max="5000"> ml water. 
    <button class="button">Uitvoeren</button><br>
    Geef plant 3 manueel <input type="number" class="textbox" value="10" size="4" step="10" min="10" max="5000"> ml water. 
    <button class="button">Uitvoeren</button><br>
  </p>
  <hr>
  <p>

  </p>
</div>