<div class="content">
  <h1>
    pH-waarde

    <div style="float:right;">
      <select class="textbox textbox-select" [(ngModel)]="selectedDate" *ngIf="date.length > 0">
        <option value="All">All</option>
        <option *ngFor="let d of date" [value]="d">{{ d | date:'mediumDate':'nl-BE'}}</option>
      </select>&nbsp;

      <button class="button" (click)="getFiltered()">Filter</button>
    </div>

  </h1>

  <div class="content-box">
    <div style="margin: 5px auto; width:94%;">
      <canvas id="lineChart"></canvas>
    </div>
  </div>

  <table style="margin:10px auto;">
    <tr>
      <th>Tijdstip</th>
      <th>pH-waarde</th>
    </tr>
    <tr *ngFor="let s of ph">
      <td>{{ s.timestamp | date:'medium':'nl-BE' }}</td>
      <td>{{ s.value | number:'1.0-2' }}
        <img (click)="deleteSensorvalue(s.sensorvalueId)" style="float:right; cursor: pointer;" src="../../assets/close.png" width="20px">
      </td>
    </tr>
  </table>

</div>
