/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #bbb;
    background-color: #10101a;
    margin: 0px;
}

h1 { font-weight: normal; }
h2 { font-weight: normal; }
h3 { font-weight: normal; }

a {
    font-weight: normal;
    text-decoration: none;
    color: #bbb;
}

a:hover {
    font-weight: normal;
    text-decoration: none;
    color: #fff;
}

hr {
    border-bottom: none;
    border-top: 1px solid #223;
}

.content {
    margin-top: 83px;
    margin-left: 275px;
    margin-right: 42px;
}

.textbox {
    background-color: #10101a;
    border: 1px solid #1a1a20;
    border-radius: 2px;
    padding: 8px;
    margin: 5px 0px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #ddd;
}

.button {
    border: none;
    padding: 8px 32px;
    margin: 5px 0px;
    border-radius: 2px;
    background-color: #f92;
    cursor: pointer;
    color: #222;
    font-family: Helvetica, Arial, sans-serif;
}

.button:hover {
    background-color: #fb4;
}