<div class="content">
  <h1>Beeldherkenning</h1>
  <div class="content-box">
    Hello world, in deze box komt een hele hoop inhoud!<br><br>
    <div class="col-4">
      <div class="col-inner">
        Gezondheid:
        <div class="progressbar" *ngIf="PlantHealth">
          <div class="progressbar-fill" [ngStyle]="{'width': MinPlantHealth}">{{PlantHealth}}%</div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="col-inner">
        Groen-percentage:
        <div class="progressbar" *ngIf="MinGreenPercentage">
          <div class="progressbar-fill" [ngStyle]="{'width': MinGreenPercentage}">{{GreenPercentage}}%</div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="col-inner">
        Groei:
        <div class="progressbar" *ngIf="Growth">
          <div class="progressbar-fill" [ngStyle]="{'width': MinGrowth}">{{Growth}}%</div>
        </div>
      </div>
    </div>
  </div>
</div>