<nav>
  <a [routerLink]="['/home']">
    <div class="nav-block-left">
      LabFarm 2
    </div>
  </a>
  <a [routerLink]="['/settings']">
    <div class="nav-block-right" style="padding-right:24px;">
      Instellingen
    </div>
  </a>
  <a href="#">
    <div class="nav-block-right">
      Licht
    </div>
  </a>
  <a href="#">
    <div class="nav-block-right">
      Temperatuur
    </div>
  </a>
  <a href="#">
    <div class="nav-block-right">
      pH-waarde
    </div>
  </a>
  <a href="#">
    <div class="nav-block-right">
      Vochtigheid
    </div>
  </a>
  <a href="#">
    <div class="nav-block-right">
      Beeldherkenning
    </div>
  </a>
</nav>