nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid #223;
    background-color: #15151b;
    overflow: hidden;
    z-index: 10;
}

a {
    color: #bbb;
}

a:hover {
    color: #fff;
}

.nav-block-left {
    float: left;
    padding: 12px;
    padding-left: 20px;
    cursor: pointer;
    font-weight: bold;
}

.nav-block-right {
    float: right;
    padding: 12px;
    cursor: pointer;
}

.nav-block-right:hover {
    background-color: #25252b;
}