<nav>
  <a [routerLink]="['/home']">
    <div class="nav-block-left">
      LabFarm 2
    </div>
  </a>
  <a [routerLink]="['/settings']">
    <div class="nav-block-right" style="padding-right:24px;">
      Besturing
    </div>
  </a>
  <a [routerLink]="['/light']">
    <div class="nav-block-right">
      Licht
    </div>
  </a>
  <a [routerLink]="['/temperature']">
    <div class="nav-block-right">
      Temperatuur
    </div>
  </a>
  <a [routerLink]="['/ph-value']">
    <div class="nav-block-right">
      pH-waarde
    </div>
  </a>
  <a [routerLink]="['/humidity']">
    <div class="nav-block-right">
      Vochtigheid
    </div>
  </a>
  <a [routerLink]="['/imagery']">
    <div class="nav-block-right">
      Beeldherkenning
    </div>
  </a>
  <a [routerLink]="['/home']">
    <div class="nav-block-right">
      Home
    </div>
  </a>
</nav>
