<div class="content">
  <div class="content-box" *ngIf="data">
    <div class="col-4 center-content col-hover" [routerLink]="['/temperature']">
      <div class="col-inner">
        Temperatuur
        <br>
        <span style='font-size:64px;'>{{ data.temperature.value }} °c</span>
      </div>
    </div>
    <div class="col-4 center-content col-hover" [routerLink]="['/humidity']">
      <div class="col-inner">
        Luchtvochtigheid
        <br>
        <span style='font-size:64px;'>{{ data.humidityAir.value }}</span>
      </div>
    </div>
    <div class="col-4 center-content col-hover" [routerLink]="['/humidity']">
      <div class="col-inner">
        Bodemvochtigheid
        <br>
        <span style='font-size:64px;'>{{ data.humidityGround.value }}</span>
      </div>
    </div>

    <div class="col-4 center-content col-hover" [routerLink]="['/light']">
      <div class="col-inner">
        Licht
        <br>
        <span style='font-size:64px;'>{{ data.light.value }}</span>
      </div>
    </div>
    <div class="col-4 center-content col-hover" [routerLink]="['/ph-value']">
      <div class="col-inner">
        pH-waarde
        <br>
        <span style='font-size:64px;'>{{ data.ph.value }}</span>
      </div>
    </div>
    <div class="col-4 center-content col-hover" [routerLink]="['/settings']">
      <div class="col-inner">
        Water
        <br>
        <span style='font-size:64px;'>{{ data.water }}</span>
      </div>
    </div>
  </div>
</div>
