<div class="content">
  <div class="content-box" *ngIf="overview">
    <div class="col-4 center-content col-hover" [routerLink]="['/temperature']">
      <div class="col-inner">
        Temperatuur
        <br>
        <img src="../../assets/arrow-right.png" width="34px" style='margin:12px; margin-right:14px'>
        <span style='font-size:64px;'>{{ overview.Temperature.value }}</span>
      </div>
    </div>
    <div class="col-4 center-content col-hover" [routerLink]="['/humidity']">
      <div class="col-inner">
        Luchtvochtigheid
        <br>
        <img src="../../assets/arrow-up.png" width="15px" style='margin:8px; margin-right:14px'>
        <span style='font-size:64px;'>41%</span>
      </div>
    </div>
    <div class="col-4 center-content col-hover" [routerLink]="['/humidity']">
      <div class="col-inner">
        Bodemvochtigheid
        <br>
        <img src="../../assets/arrow-down.png" width="15px" style='margin:8px; margin-right:14px'>
        <span style='font-size:64px;'>88%</span>
      </div>
    </div>

    <div class="col-4 center-content col-hover" [routerLink]="['/light']">
      <div class="col-inner">
        Licht
        <br>
        <img src="../../assets/arrow-up.png" width="15px" style='margin:8px; margin-right:14px'>
        <span style='font-size:64px;'>446 Lu</span>
      </div>
    </div>
    <div class="col-4 center-content col-hover" [routerLink]="['/ph-value']">
      <div class="col-inner">
        pH-waarde
        <br>
        <img src="../../assets/arrow-right.png" width="34px" style='margin:12px; margin-right:14px'>
        <span style='font-size:64px;'>7.3</span>
      </div>
    </div>
    <div class="col-4 center-content col-hover" [routerLink]="['/settings']">
      <div class="col-inner">
        Water
        <br>
        <img src="../../assets/arrow-down.png" width="15px" style='margin:8px; margin-right:14px'>
        <span style='font-size:64px;'>92%</span>
      </div>
    </div>
  </div>
</div>
