<div *ngIf="severe" class="notification notification-severe">
  {{ notifmsg[0] }}<br *ngIf="notifmsg[0]">
  {{ notifmsg[1] }}<br *ngIf="notifmsg[1]">
  {{ notifmsg[2] }}<br *ngIf="notifmsg[2]">
  {{ notifmsg[3] }}<br *ngIf="notifmsg[3]">
</div>

<div *ngIf="warning" class="notification notification-warning">
  {{ notifmsg[0] }}<br *ngIf="notifmsg[0]">
  {{ notifmsg[1] }}<br *ngIf="notifmsg[1]">
  {{ notifmsg[2] }}<br *ngIf="notifmsg[2]">
  {{ notifmsg[3] }}<br *ngIf="notifmsg[3]">
</div>

<div *ngIf="!warning && !severe" class="notification notification-stable">
  Alle metingen van de plant zijn in orde.
</div>