<div class="content">
    <h1>Licht</h1>
    <div class="content-box">
      <div style="margin: 5px auto; width:94%;">
        <canvas id="lineChart"></canvas>
      </div>
    </div>

      <table style="margin:10px auto;">
          <tr>
            <th>Tijdstip</th>
            <th>Verlichting (Lumen)</th>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
          <tr>
            <td>16u</td>
            <td>43</td>
          </tr>
      </table>
  
  </div>