<div class="sidebar" onload="startTime()">
  <div class="sidebar-inner">

    <div id="clock"></div>

    <a [routerLink]="['/settings']">
      <div class="sidebar-infoblock">
        Lamp: <b><span style='color:green'>AAN</span></b>
      </div>
    </a>
    <a [routerLink]="['/temperature']">
      <div class="sidebar-infoblock">
        Temperatuur: <b>{{ livedata[1] }} °c</b>
      </div>
    </a>
    <a [routerLink]="['/humidity']">
      <div class="sidebar-infoblock">
        Luchtvochtigheid: <b>{{ livedata[2] }}%</b>
      </div>
    </a>
    <a [routerLink]="['/humidity']">
      <div class="sidebar-infoblock">
        Bodemvochtigheid: <b>{{ livedata[3] }}%</b>
      </div>
    </a>
    <a [routerLink]="['/light']">
      <div class="sidebar-infoblock">
        Licht: <b>{{ livedata[4] }} Lumen</b>
      </div>
    </a>
    <a [routerLink]="['/ph-value']">
      <div class="sidebar-infoblock">
        pH-waarde: <b>{{ livedata[5] }}</b>
      </div>
    </a>
    <a [routerLink]="['/settings']">
      <div class="sidebar-infoblock">
        Water: <b>0%</b>
      </div>
    </a>

  </div>
</div>