<div class="sidebar" onload="startTime()">
  <div class="sidebar-inner">

    <div id="clock"></div>

    <a [routerLink]="['/settings']">
      <div class="sidebar-infoblock">
        Lamp:
        <b>
          <span *ngIf="lamp == 'True' " style='color:green'>{{lamp}}</span>
          <span *ngIf="lamp == 'False' " style='color:red'>{{lamp}}</span>
        </b>
      </div>
    </a>
    <a [routerLink]="['/temperature']">
      <div class="sidebar-infoblock">
        Temperatuur:
        <b>{{temperature}} °c</b>
      </div>
    </a>
    <a [routerLink]="['/humidity']">
      <div class="sidebar-infoblock">
        Luchtvochtigheid:
        <b>{{humidityAir}}%</b>
      </div>
    </a>
    <a [routerLink]="['/humidity']">
      <div class="sidebar-infoblock">
        Bodemvochtigheid:
        <b>{{humidityGround}}%</b>
      </div>
    </a>
    <a [routerLink]="['/light']">
      <div class="sidebar-infoblock">
        Licht:
        <b>{{ light }} Lumen</b>
      </div>
    </a>
    <a [routerLink]="['/ph-value']">
      <div class="sidebar-infoblock">
        pH-waarde:
        <b>{{ph}}</b>
      </div>
    </a>
    <a [routerLink]="['/settings']">
      <div class="sidebar-infoblock">
        Water:
        <b>{{water}}</b>
      </div>
    </a>

    <button class="button" (click)="subscribe()">Subscribe</button>
    <br>
    <button class="button" (click)="unsubscribe()">Unsubscribe</button>

  </div>
</div>
